@model TennisShopApp.Data.Models.Tournoi
@{
    ViewData["Title"] = "Create Tournoi";
}
<h1>Create Tournoi</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomT"></label>
                <input asp-for="NomT" class="form-control" />
                <span asp-validation-for="NomT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}